<nav class="navbar navbar-inverse" *ngIf = "!user">
    <div class="container-fluid" style="color: white">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">BookzWorld</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/login" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a></li>
        <!-- <li><a href="/home"><span class="glyphicon glyphicon-log-in"></span> Home</a></li> -->
      </ul> 
      </div>
    </div>
  </nav>
  
  <nav class="navbar navbar-inverse" *ngIf = "user">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">BookzWorld</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li><a href="/home" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a></li>
                  <li><a href="/mylist" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; My List</a></li>      
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile/{{userId}}" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><span class="glyphicon glyphicon-user"></span> &nbsp; My Profile</a></li>
                  <li><a (click) = "logout()" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
                </ul>
          </div>
        </div>
  </nav>
  
  