<html>
    <head>
        <title>Products add THROUGH EJS</title>
    </head>
    <body>
        <form method = "POST" action = "/">
            <label> book_id </label>
            <input type = "text" name = "book_id" placeholder="book_id">
            <br>
            <br>
            <label> cover_image </label>
            <input type = "text" name = "cover_image" placeholder="image id">
            <br>
            <br>
            <label> Title</label>
            <input type = "text" name = "title" placeholder="title">
            <br>
            <br>
            <label> Author </label>
            <input type = "text" name = "author" placeholder="author">
            <br>
            <br>
            <label> Category_id </label>
            <input type = "text" name = "cat_id" placeholder="Category_id">
            <br>
            <br>
            <label> Category</label>
            <input type = "number" name = "category" placeholder="category">
            <br>
            <br>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>