<section class="hero">
  <app-navbar></app-navbar>
  <div class="content-full">
    <h1 style="font-family:'Lobster';font-size: 65px; ">The World's Best</h1>
    <p style="font-size: 22px">Book Recommendation Website</p>
  </div>
</section>
<div class="book-row"></div>
<section class="information">
  <div class="content">
    <h2 class="section-title">Handpicked deals on ebooks you'll love</h2>
    <p>Get recommendations for free from our expert editorial team, from bestsellers to hidden gems.</p>
  </div>
</section><br><br>
<div class="bg-img"><br></div>
<div class="footer stackable">
  <div class="container">
    <div class="row">
      <div class="footer-header-wrapper col-md-12 col-sm-12">
        <div class="row footer-header">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 footer-logo-container">
            <a href="http://localhost:4200/" style="font-size: 30px; ">BookzWorld</a>
          </div>
          <div class="col-md-10 col-sm-9 col-xs-6 footer-social-container">
            <span>
              <a class="social-links" href="http://www.facebook.com/"><i class="fa fa-facebook-square fa-md"></i>
              <div class="sr-only">visit our facebook page</div></a>
              <a class="social-links" href="http://twitter.com/"><i class="fa fa-twitter-square fa-md"></i>
              <div class="sr-only">visit our twitter page</div></a>
              <a class="social-links" href="http://pinterest.com/"><i class="fa fa-pinterest-square fa-md"></i>
              <div class="sr-only">visit our pinterest page</div></a>
              <a class="social-links" href="https://www.instagram.com/"><i class="fa fa-instagram fa-md"></i>
              <div class="sr-only">visit our instagram page</div></a>
            </span>
        </div>
      </div><br><hr>
    </div>
    <div class="link-panel col-md-4 col-sm-4">
      <h3>Company</h3>
      <ul class="list-unstyled">
      <li><a href="">About</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">For the Press</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms of Service</a></li>
      <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="link-panel col-md-4 col-sm-4">
      <h3>Readers</h3>
      <ul class="list-unstyled">
      <li><a href="">What is Bookz World?</a></li>
      <li><a href="">In the News</a></li>
      <li><a href="">The Bookz World Blog</a></li>
      <li><a href="">Help</a></li>
      <li><a href="">All Authors</a></li>
      <li><a href="">All Books</a></li>
      </ul>
    </div>
    <div class="link-panel col-md-4 col-sm-4">
      <h3>Publishers &amp; Authors</h3>
      <ul class="list-unstyled">
      <li><a href="">Partners Overview</a></li>
      <li><a href="">Submit New Deal</a></li>
      <li><a href="">Partner Dashboard</a></li>
      <li><a href="">Claim an Author Profile</a></li>
      <li><a href="">Bookz World Partners Blog</a></li>
      <li><a href="">Partner FAQ</a></li>
      </ul>
    </div>
  </div><br>
  <div class="row">
    <div class="link-panel copyright col-sm-12">
      <p class="small">© 2019 Bookz World.  All rights reserved.</p>
    </div>
  </div>
</div>
