<div class="bg">
  <app-navbar></app-navbar>
  <!-- <div id = "hello">
    <div id="Hero">
      <div class="container-fluid">
        <div class="frstPara">
          <h2>Hi, we're .....</h2>
          <h3>The world's most-loved social storytelling platform</h3>
          <h4>... connects a global community of 70 million readers and writers through the power of story.</h4>
        </div>
      </div>
    </div>
    <div class="container-content">
      <div class="textContainer">
          <h3>Your original story could be the next blockbuster</h3>
          <p>Wattpad Studios discovers untapped, unsigned, and talented writers on Wattpad and connects them to global multi-media entertainment companies. 
          </p>
          <div class="listContainer">
            <h4>See Your Story...</h4>
            <ul>
              <li>Get published</li>
              <li>Get produced to movie or film</li>
              <li>Get adapted to a TV series</li>
            </ul>
          </div>
        </div>
      </div>
    <div id="Carousel">
      <div class="container">
        <div class="slider " style="position: relative; display: block; width: 100%; height: auto; box-sizing: border-box; visibility: inherit;">
          <div class="slider-frame" style="position: relative; display: block; overflow: hidden; height: auto; margin: 0px; padding: 0px; transform: translate3d(0px, 0px, 0px); box-sizing: border-box; touch-action: pan-y pinch-zoom;">
            <ul class="slider-list" style="transform: translate3d(-3572px, 0px, 0px); position: relative; display: block; margin: 0px; padding: 0px; height: 475px; width: 4465px; cursor: pointer; box-sizing: border-box; touch-action: pan-y pinch-zoom;">
              <li class="slider-slide" style="position: absolute; left: 4465px; top: 0px; display: inline-block; list-style-type: none; vertical-align: top; width: 893px; height: auto; box-sizing: border-box; margin: auto 0px;">
                <div class="slide">
                  <div class="cover-container" role="link" aria-roledescription="slide" tabindex="0">
                    <img src="/img//landing/white-stag.png" alt="/landing/white-stag.png">
                  </div>
                  <div class="details">
                    <div class="quote">
                      <p class="text">Working with Wattpad Studios is like a dream. Not only do they care about your success, but also staying true to your vision.</p>
                      <p class="author">KARA BARBIERI (@PANDEAN)</p>
                    </div>
                    <p class="about">Kara Barbieri is a twenty-two year old author with a love for the weird and mystic. Her debut novel, WHITE STAG, will be published by Wednesday Books/Macmillan in January 2019.
                    </p>
                    <button id="startReading" class="btn btn-md btn-teal">Start Reading</button>
                  </div>
                </div>
              </li>
              <li class="slider-slide" style="position: absolute; left: 5358px; top: 0px; display: inline-block; list-style-type: none; vertical-align: top; width: 893px; height: auto; box-sizing: border-box; margin: auto 0px;">
                <div class="slide">
                  <div class="cover-container" role="link" aria-roledescription="slide" tabindex="0">
                    <img src="/img//landing/walter-boys.png" alt="/landing/walter-boys.png">
                  </div>
                  <div class="details">
                    <div class="quote">
                      <p class="text">When I joined Wattpad, I gained a second family who were as passionate about reading and writing as I am.</p><p class="author">ALI NOVAK (@FALLZSWIMMER)
                      </p>
                    </div>
                    <p class="about">Ali Novak is a Wisconsin native and a graduate of the University of Wisconsin-Madison's creative writing program. She started writing her debut novel My Life with the Walter Boys when she was only fifteen. Since then, her work has received more than 150 million hits online and My Life with the Walter Boys has been optioned for television by Komixx Entertainment and Sony Pictures Television.</p>
                    <button id="startReading" class="btn btn-md btn-teal">Start Reading</button>
                  </div>
                </div>
              </li>
              <li class="slider-slide" style="position: absolute; left: 1786px; top: 0px; display: inline-block; list-style-type: none; vertical-align: top; width: 893px; height: auto; box-sizing: border-box; margin: auto 0px;">
                <div class="slide">
                  <div class="cover-container" role="link" aria-roledescription="slide" tabindex="0">
                    <img src="/img//landing/black-eye.png" alt="/landing/black-eye.png">
                  </div>
                  <div class="details">
                    <div class="quote">
                      <p class="text">Being a Wattpad Star is the foundation for everything I do as a writer, from the behind the scenes wrangling to the big, game-changing projects.</p>
                      <p class="author">BEN SOBIECK (@BENSOBIECK)</p>
                    </div>
                    <p class="about">Benjamin Sobieck is a Wattpad Star and editor of “The Writer’s Guide to Wattpad,” published in August 2018 by Writer’s Digest Books and featuring contributions by 23 Wattpad Stars, ambassadors, and staff. His stories on Wattpad, such as “When the Black-Eyed Children Knock,” have drawn more than 1.5 million reads.</p>
                    <button id="startReading" class="btn btn-md btn-teal">Start Reading</button>
                  </div>
                </div>
              </li>
              <li class="slider-slide" style="position: absolute; left: 2679px; top: 0px; display: inline-block; list-style-type: none; vertical-align: top; width: 893px; height: auto; box-sizing: border-box; margin: auto 0px;">
                <div class="slide">
                  <div class="cover-container" role="link" aria-roledescription="slide" tabindex="0">
                    <img src="/img//landing/feather.png" alt="/landing/feather.png">
                  </div>
                  <div class="details">
                    <div class="quote">
                      <p class="text">Having been active on Wattpad for several  years, I knew it would be the perfect platform for a thriller with lots of cliffhangers for readers to discuss. Teen horror is my passion, so I can’t wait to be able to share Light as a Feather with other horror aficionados on Hulu.</p>
                      <p class="author">ZOE AARSEN (@ZAARSENIST)</p>
                    </div>
                    <p class="about">Zoe Aarsen is a graphic designer and copywriter. Her first paranormal YA novel, Light as a Feather, Stiff as a Board, is being published by Simon &amp; Schuster and turned into a television series on Hulu.</p>
                    <button id="startReading" class="btn btn-md btn-teal">Start Reading</button>
                  </div>
                </div>
              </li>
              <li class="slider-slide" style="position: absolute; left: 3572px; top: 0px; display: inline-block; list-style-type: none; vertical-align: top; width: 893px; height: auto; box-sizing: border-box; margin: auto 0px;">
                <div class="slide">
                  <div class="cover-container" role="link" aria-roledescription="slide" tabindex="0">
                    <img src="/img//landing/chasing-red.png" alt="/landing/chasing-red.png">
                  </div>
                  <div class="details">
                    <div class="quote">
                      <p class="text">The Wattpad Stars Program gave me opportunities I never thought possible. It connected me to a world that I had only imagined. I don’t know how else to say it. It changed my life!</p>
                      <p class="author">ISABELLE RONIN (@ISABELLERONIN)</p>
                    </div>
                    <p class="about">Chasing Red was one of 2016’s most-read stories on Wattpad -- and that was just the beginning for this Winnipeg-Manitoba-based writer. In a single year, her explosive hit has racked up over 127 million reads on Wattpad. Newly edited and expanded, the book was split into two and hit bookstore shelves in 2017.</p>
                    <button id="startReading" class="btn btn-md btn-teal">Start Reading</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="slider-control-centerright" style="position: absolute; top: 50%; right: 0px; transform: translateY(-50%);">
            <div role="button" tabindex="0">
              <img src="/img//landing/next-btn.svg">
            </div>
          </div>
          <div class="slider-control-bottomright" style="position: absolute; bottom: 0px; right: 0px;">
            <div class="controls">
              <div class="control" role="tab" tabindex="0"></div>
              <div class="control" role="tab" tabindex="0"></div>
              <div class="control" role="tab" tabindex="0"></div>
              <div class="control" role="tab" tabindex="0"></div>
              <div class="control active" role="tab" tabindex="0"></div>
            </div>
          </div>
          <style type="text/css">.slider-slide > img {width: 100%; display: block;}</style>
        </div>
      </div>
    </div> -->
  <!-- </div> -->


  <div>
    <h1>BOOKZ WORLD!!</h1>
  </div>
      <!-- <video autoplay loop controls = "controls" muted = "muted"> -->
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrfpIzItjMv0pMY6_dRH_H04VDxuMMQQ9xmpxQ320551dF_zDPBQ" alt="Smiley face" > -->
      <!-- </video> -->
    <!-- <div class="overlay-desc"> -->
    <!-- </div> -->
  <!-- </div> -->
 
</div>
