<!-- <app-navbar></app-navbar> -->

<div class = "container-fluid" style = "background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%); padding: 0%;margin-bottom: 0%;min-height: 100vh">
    <div class="card" style = "padding-top: 2%; width:420px; margin-top: 5%; background: white;padding-left: 2%;padding-right: 2%"> 
        <div class="card-header">
            <span style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px">Register</span>
            <br>
            <span style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;color: grey">Join our community !</span>
        </div>
        <br>
        <div class="card-body">
            <br>
            <form [formGroup]="registerForm" >
                <div class="form-group">
                    <label><i class='fas fa-user' style='font-size:24px;color: gray'></i></label>
                    <input  style="width: 85%" type="text" formControlName ="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Username" #name/>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required" style="color: red; text-align: center; font-family: cursive">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class = "content"><i class="fa fa-phone" style='font-size:24px;color: gray'></i></label>
                    <input style="width: 85%" type="text" placeholder="Phone number"  formControlName ="phnum" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phnum.errors }" #phnum/>
                    <div *ngIf="submitted && f.phnum.errors" class="invalid-feedback">
                        <div *ngIf="f.phnum.errors.required" style="color: red; text-align: center; font-family: cursive">Phone number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class = "content"><i class="fa fa-envelope" style='font-size:23px;color: gray'></i></label>
                    <input style="width: 85%"  placeholder="Email"  type="text" formControlName ="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" #email/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required" style="color: red; text-align: center; font-family: cursive">Email is required</div>
                        <div *ngIf="f.email.errors.email" style="color: red; text-align: center; font-family: cursive">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class = "content"><i class="fa fa-lock" style="font-size:28px;color: gray"></i></label>
                    <input style="width: 85%"   placeholder="Password" type="password" formControlName ="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" #pwd/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required" style="color: red; text-align: center; font-family: cursive">Password is required</div>
                        <div *ngIf="f.password.errors.minlength" style="color: red; text-align: center; font-family: cursive">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class = "content"><i class="fa fa-lock" style="font-size:28px;color: gray"></i></label>
                    <input style="width: 85%"  placeholder="Password again" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required" style="color: red; text-align: center; font-family: cursive">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch" style="color: red; text-align: center; font-family: cursive">Passwords must match</div>
                    </div>
                </div>
                <br>
                <div class="card-footer">
                    <div class="form-group">
                        <button type = "submit" id="block" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >REGISTER</button>
                    </div>
                    <br>
                    <a href="/login" style="color: blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 18px;text-decoration: none">Already have a account? Login</a>
                </div>
            </form>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select atleast 5 genres</h4>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group" *ngFor = "let i of genres">
                            <button (click) = selectGenre(i)>{{i}}</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click) ="submit(name.value,phnum.value,email.value,pwd.value)">Register</button>
                    </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>